name: Tag

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: 'Release version'
        required: true

jobs:
  tag:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout project
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.CI_CD_TOKEN }}

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v5
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Tag
        run: |
          mvn versions:set -DnewVersion=${{ github.event.inputs.release_version }}
          git add pom.xml
          git commit -s -m "Prepare release v${{ github.event.inputs.release_version }}"
          git push
          git tag v${{ github.event.inputs.release_version }} -s -m ''
          git push origin v${{ github.event.inputs.release_version }}

      - name: Update next version
        run: |
          mvn versions:set -DnextSnapshot=true
          git add pom.xml
          git commit -s -m "Prepare next snapshot version [skip ci]"
          git push
